// *********************
//   THEME VARIABLES
//
// - Font Import
// - Font Variables
// - General
//   - Font
// - Colors UI Colors
//   - UI Colors
//   - Text Colors
// - Headings
// - Page
//   - Background Color
//   - Font
//
// *********************

/* FONT IMPORT */
// When using Google fonts, 'wght' and 'ital' must be declared
// in separate @import lines for it to work in Safari
// otherwise the font won't load.

// Display font (defaults to main font if not defined)

// Sans serif font (same as display in default theme)
@import url("https://use.typekit.net/wti7eka.css");

// Serif font
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap");

// Monospace font
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap");

@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/white-alpha.css';
@import '@radix-ui/colors/black-alpha.css';

:root {
    /* FONTS */
    // Import fonts above outside of :root first
    --font-family-display: "proxima-nova-1", sans-serif; /* defaults to --font-family-main if not defined */
    --font-family-sans-serif: "proxima-nova-1", sans-serif;
    --font-family-serif: "Bitter", serif;
    --font-family-mono: "Source Code Pro", monospace;

    /*************************
    /** THEME OVERRIDES
    /*************************

    /**** GENERAL ****/
    /* FONT */
    --font-family-main: var(--font-family-sans-serif);

    /* SIZE */
    //--base-type-size: 1rem; // 16px = 1rem. This defines the base size for EVERYTHING

    // Use a tool like type-scale.com to redefine size scaling

    // Major Second
    //--size-9xl: 3.247em;
    //--size-8xl: 2.887;
    //--size-7xl: 2.566em;
    //--size-6xl: 2.281em;
    //--size-5xl: 2.027em;
    //--size-4xl: 1.802em;
    //--size-3xl: 1.602em;
    //--size-2xl: 1.424em;
    //--size-xl: 1.266em;
    //--size-l: 1.125em;
    //--size-m: 1em;
    //--size-s: 0.889em;
    //--size-xs: 0.79em;
    //--size-2xs: 0.702em;
    //--size-3xs: 0.624em;

    // Minor Second
    // --size-9xl: 1.913rem;
    // --size-8xl: 1.793rem;
    // --size-7xl: 1.68rem;
    // --size-6xl: 1.575rem;
    // --size-5xl: 1.476rem;
    // --size-4xl: 1.383rem;
    // --size-3xl: 1.296rem;
    // --size-2xl: 1.215rem;
    // --size-xl: 1.138rem;
    // --size-l: 1.067rem;
    // --size-m: 1em;
    // --size-s: 0.937rem;
    // --size-xs: 0.878rem;
    // --size-2xs: 0.823rem;
    // --size-3xs: 0.772rem;

    //Perfect Fourth
    // --size-8xl: 17.713rem;
    // --size-8xl: 13.288em;
    // --size-7xl: 9.969em;
    // --size-6xl: 7.478em;
    // --size-5xl: 5.61em;
    // --size-4xl: 4.209em;
    // --size-3xl: 3.157em;
    // --size-2xl: 2.369em;
    // --size-xl: 1.777em;
    // --size-l: 1.333em;
    // --size-m: 1em;
    // --size-s: 0.75em;
    // --size-xs: 0.563em;
    // --size-2xs: 0.422em;
    // --size-3xs: 0.317em;

    /* RADIX COLORS */

    // Custom Scale Colors
    --red-1: #fffcfc;
    --red-2: #fff8f6;
    --red-3: #fdece9;
    --red-4: #ffddd7;
    --red-5: #ffd0c8;
    --red-6: #f9c0b7;
    --red-7: #f0ada2;
    --red-8: #e69487;
    --red-9: #a10000;
    --red-10: #8d0000;
    --red-11: #c8382b;
    --red-12: #621d16;
    
    --red-a1: #ff000003;
    --red-a2: #ff390009;
    --red-a3: #e8230016;
    --red-a4: #ff270028;
    --red-a5: #ff260037;
    --red-a6: #ea200048;
    --red-a7: #d61f005d;
    --red-a8: #ca1c0078;
    --red-a9: #a10000;
    --red-a10: #8d0000;
    --red-a11: #bd1000d4;
    --red-a12: #530800e9;
    
    --red-contrast: #fff;
    --red-surface: #fff6f4cc;
    --red-indicator: #a10000;
    --red-track: #a10000;
    
    .dark, .dark-theme {
        --red-1: #190e0c;
        --red-2: #24110e;
        --red-3: #450302;
        --red-4: #5e0000;
        --red-5: #710000;
        --red-6: #870000;
        --red-7: #a30402;
        --red-8: #d20302;
        --red-9: #a10000;
        --red-10: #890000;
        --red-11: #ff907f;
        --red-12: #ffcdc3;
      
        --red-a1: #f4000009;
        --red-a2: #f8120015;
        --red-a3: #fe000038;
        --red-a4: #fe000053;
        --red-a5: #ff000067;
        --red-a6: #fd00007f;
        --red-a7: #fe00009d;
        --red-a8: #ff0000cf;
        --red-a9: #fe00009b;
        --red-a10: #ff000081;
        --red-a11: #ff907f;
        --red-a12: #ffcdc3;
      
        --red-contrast: #fff;
        --red-surface: #37110c80;
        --red-indicator: #a10000;
        --red-track: #a10000;
      }

    /**** PAGE ****/
    --color-page-bg: var(--mauve-3);
    
    /* BRAND + SEMANTIC UI COLORS */
    // Light Theme
    --color-brand-primary: var(--red-11);
    // manually define darker/lighter variants until new CSS color module 5 features work in all browsers
    --color-brand-primary-darken: var(--red-12);
    --color-brand-primary-lighten: var(--red-10);

    --color-brand-secondary: var(--mauve-11);
    --color-brand-secondary-darken: var(--mauve-12);
    --color-brand-secondary-lighten: var(--mauve-10);

    --color-info: hsl(197 100% 50%);
    --color-info-darken: hsl(197 100% 40%);
    --color-info-lighten: hsl(197 100% 70%);

    --color-danger: hsl(1 94% 53%);
    --color-danger-darken: hsl(1 84% 43%);
    --color-danger-lighten: hsl(1 84% 73%);

    --color-warning: hsl(30 95% 56%);
    --color-warning-darken: hsl(30 89% 46%);
    --color-warning-lighten: hsl(30 89% 76%);

    --color-success: hsl(98 88% 41%);
    --color-success-darken: hsl(98 88% 31%);
    --color-success-lighten: hsl(98 88% 61%);

    // Dark Theme
    --color-info-dark: hsl(197 100% 50%);
    --color-danger-dark: rgb(238, 31, 27);
    --color-warning-dark: rgb(255, 153, 0);
    --color-success-dark: hsl(98 88% 50%);
}