@import '../-abstracts/_mixins.scss';

:root {
    // LIGHT THEME
    --color-card-background: var(--color-white-100);
    --color-card-header-background: var(--color-white-100);
    --color-card-footer-background: var(--color-white-100);
    --color-card-border: var(--color-gray-90);
    // DARK THEME
    --color-card-background-dark: var(--color-gray-20);
    --color-card-header-background-dark: var(--color-gray-20);
    --color-card-footer-background-dark: var(--color-gray-20);
    --color-card-border-dark: var(--color-gray-30);
}

.card {
    //$card: &;
    display: flex;
    flex-direction: column;
    background-color: var(--color-card-background);
    border: 1px solid var(--color-card-border);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-elevation-medium);
    overflow: hidden;

    @include for-size(mobile) {
        border-radius: 0;
        box-shadow: none;

        .card__header,
        .card__body,
        .card__footer {
            padding: var(--spacing-1x) !important;
        }

        .card {
            border-radius: var(--radius-medium);
        }
    }

    & .card {
        box-shadow: none; // no drop shadow for nested cards
    }

    &[open] summary ~ * {
        animation: var(--transition-medium);
    }

    @keyframes open {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    // details#{$card} > &__header:hover {
    //     background-color: darken(#f4f4f4, 5%);
    //     cursor: pointer;
    // }

    // details#{$card}:not([open]) > &__header {
    //     border-bottom: 1px solid rgba(0, 0, 0, 0);
    // }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-half) var(--spacing-2x);
        border-bottom: 1px solid var(--color-card-border);
        min-height: var(--spacing-6x);
        background-color: var(--color-card-header-background);

        .icon--caret {
            transition: transform var(--transition-medium);

            // #{$card + "[open]"} & {
            //     transform: rotateX(180deg);
            // }
        }
    }

    &__header-title {
        margin: 0;
        padding: 0;
        line-height: normal;
        white-space: nowrap;
    }

    &__header-actions {
        font-size: var(--size-s);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        gap: var(--spacing-three-quarters);
    }

    &__body {
        position: relative;
        background-color: var(--color-card-background);
        flex-grow: 1;

        &--scroll-x {
            overflow-x: auto;
        }
    }

    &__footer {
        min-height: var(--spacing-2x);
        background-color: var(--color-card-footer-background);
        padding: var(--spacing-1x) var(--spacing-2x);
        border-top: 1px solid var(--color-card-border);
    }
}

body.theme--dark .card {
    --color-card-background: var(--color-card-background-dark);
    --color-card-header-background: var(--color-card-header-background-dark);
    --color-card-footer-background: var(--color-card-footer-background-dark);
    --color-card-border: var(--color-card-border-dark);
}
