.event-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1x);

    &__image {
        flex-shrink: 0;
        width: 5em;
        height: 5em;
        border: 2px solid var(--color-white-100);
        border-radius: var(--radius-medium);
        overflow: hidden;
        box-shadow: var(--shadow-elevation-low);
    }

    &__details {
        display: flex;
        flex-direction: column;
        line-height: 1.37em;
    }

    &__primary {
        font-weight: bold;
    }

    &__secondary {
        color: var(--color-text-dim);
        font-size: var(--size-s);
        margin-bottom: -var(--spacing-quarter);
    }
}
