.label {
    display: inline-block;
    padding: 0.75em 1em;
    text-transform: uppercase;
    color: var(--color-white-100);
    font-weight: 700;
    background-color: #545454;
    border-radius: 0.5em;
    overflow: hidden;
    font-size: $text-2xs;

    &--alert {
        background-color: $red;
    }

    &:not(:last-child) {
        margin-right: 0.5em;
    }
}
