.product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7.5em minmax(min-content, 1fr) 7.5em;
    -ms-grid-rows: 7.5em auto 1.5em;
    grid-template-columns: 7.5em auto 7.5em;
    grid-template-rows: 7.5em auto 1.5em;
    margin-top: 1.5rem;
    border-bottom: 1px solid $black-10;

    &__img-container {
        height: 7.5em;
        width: 7.5em;
        padding: $spacing-half;
        border: 1px solid $black-10;
        border-radius: 0.5rem;
        cursor: pointer;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -mg-grid-column-align: start;
        grid-column-start: 1;
        grid-column-end: 2;
        align-self: start;
    }

    &__img {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {
        padding: 0 1.5em;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-row-align: stretch;
        -mg-grid-column-align: stretch;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: stretch;

        @media (max-width: 768px) {
            -ms-grid-column: 2;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }

    &__name {
        margin: 0;
        white-space: normal;
    }

    &__price {
        font-weight: 700;
        color: $green;
    }

    &__description {
        margin-top: $spacing-1x;
        font-size: $text-s;
        color: $black-50;
    }

    &__qty {
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -mg-grid-row-span: 1;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        @media (max-width: 768px) {
            margin-top: $spacing-1x;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
}

product-item {
    &:first-of-type .product {
        margin-top: 0;
    }

    &:last-of-type .product {
        border-bottom: none;
    }
}
