@use '_modal.scss';

:root {
    --color-seat-modal-card-header-bg: var(--color-black-100);
    --color-seat-modal-seat-details: var(--color-black-05);
}

.seat-modal {
    @extend .modal;

    &__card {
        @extend .modal__card;
        max-width: 25em;
    }

    &__header {
        @extend .theme--dark;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-seat-modal-card-header-bg);
        background-size: cover;
        border-radius: var(--radius-large) var(--radius-large) 0 0;
        height: 11em;
        padding: var(--spacing-2x);
        overflow: hidden;
        // fix for safari overflow bug image transition bg
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);

        &:hover {
            &::before {
                opacity: 0.5;
                transform: scale(1.02);
            }
            .seat-modal__preview-button {
                opacity: 1;
            }
        }

        &::before {
            content: '';
            background-image: url('https://nliven-qa-core.azurewebsites.net/cloud/assets/259_view_from_seat_47_forward.jpeg?w=700');
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.4;
            transition: all var(--transition-slow);
        }
    }

    &__preview-button {
        opacity: 0.2;
        transition: opacity var(--transition-slow);
    }

    &__body {
        @extend .modal__body;
        h6 {
            margin-bottom: var(--spacing-1x);
        }
    }

    &__seat-details {
        background-color: var(--color-seat-modal-seat-details);
        padding: var(--spacing-2x);
        border-radius: var(--radius-medium);
    }

    &__price-pill {
        display: inline-flex;
        align-items: center;
        gap: var(--spacing-half);
        background-color: var(--color-warning);
        color: var(--color-text-inverse);
        font-weight: bold;
        border-radius: 99px;
        padding: var(--spacing-half) var(--spacing-1x);
        font-size: var(--size-2xl);
    }

    &__price-plus-fees {
        font-weight: lighter;
        font-size: var(--size-2xs);
        color: var(--color-inverse);
    }

    &__price-level-label {
        color: var(--color-warning);
        font-weight: bold;
        font-size: var(--size-s);
    }

    &__seat-alert-label {
        color: var(--color-danger);
    }

    &__seat-alert-description {
    }

    &__seat-location {
        display: flex;

        &-label {
            font-size: var(--size-2xs);
            color: var(--color-text-dim);
            font-weight: lighter;
        }

        &-value {
            font-size: var(--size-2xl);
            color: var(--color-text);
            font-weight: lighter;
        }

        &-section {
            background-color: var(--color-black-05);
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 0;
            padding: var(--spacing-1x) var(--spacing-2x);
        }

        &-row {
            background-color: var(--color-black-07);
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 0;
            padding: var(--spacing-1x) var(--spacing-2x);
        }

        &-seat {
            background-color: var(--color-black-09);
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 0;
            padding: var(--spacing-1x) var(--spacing-2x);
        }
    }

    &__unlock-promo {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--spacing-half);
    }
    &__footer {
        @extend .modal__footer;

        .button {
            flex-grow: 1;
        }
    }
}
