.web-ticket-details {
    &__ticket-info {
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    &__template-ticket-wrapper {
        font-size: $text-s;
    }

    &__template-ticket-text {
        margin-bottom: 0.5em;

        &:last-of-type {
            margin-bottom: 2em;
        }
    }

    &__table {
        margin-bottom: 2.5em;

        td {
            overflow: unset;
            white-space: break-spaces;
        }
    }

    &__seat-tag {
        font-size: $text-xs;
        font-weight: bold;
        margin-bottom: 2.5em;
    }

    &__accessible {
        font-size: $text-xs;
        font-weight: bold;
        margin-bottom: 2.5em;
    }

    &__info-label {
        margin-bottom: 1em;
    }

    &__info-text {
        font-size: $text-s;
        margin-bottom: 2.5em;
    }

    &__partner-logo {
        margin-bottom: 1em;
        max-width: 100%;
    }

    &__partner-contact {
        font-size: $text-s;
        margin-bottom: 2.5em;
    }

    &__separator {
        margin: 0 0 2.5em 0;
        border-style: none;
        border-bottom: 1px solid $black-10;
    }

    &__disclaimer {
        font-size: $text-s;
    }
}
